.my-radio {
    color: #606266;
    font-weight: 500;
    line-height: 1;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    outline: none;
    font-size: 14px;
    border-radius: 10px;
    margin-right: 30px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
   
    .my-radio__input {
      white-space: nowrap;
      cursor: pointer;
      outline: none;
      display: inline-block;
      line-height: 1;
      position: relative;
      vertical-align: middle;
   
      .my-radio__inner {
        border: 1px solid #dcdfe6;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        position: relative;
        cursor: pointer;
        display: inline-block;
        box-sizing: border-box;
      }
      .my-radio__inner:after {
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: #fff;
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.15s ease-in;
      }
   
      .my-radio__original {
        opacity: 0;
        outline: none;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
      }
    }
   
    .my-radio__label {
      font-size: 14px;
      padding-left: 10px;
    }
  }
   
  /*增加选中的样式*/
  .is-checked {
    .my-radio__input {
      .my-radio__inner {
        border-color: #FFB5C5;
        background: #FFB5C5;
        &:after {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
    .my-radio__label {
      color: #FFB5C5;
      display: inline-block;
      font-size: 14px;
      padding-left: 10px;
    }
    .is-disabled__label {
      color: #ccc;
      display: inline-block;
      font-size: 14px;
      padding-left: 10px;
    }
  }
  .is-disabled {
    .my-radio__input {
      .my-radio__inner {
        &:after {
          border-color: #ccc;
          background: #9C9C9C;
          color:#ccc;
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
    &__label {
      color: #ccc;
      display: inline-block;
      font-size: 14px;
      padding-left: 10px;
    }
  }
  